<settings>
  <mirrors>
    <mirror>
      <id>central</id>
      <mirrorOf>central</mirrorOf>
      <url>http://nexus-repository-manager.maven-repo.svc.cluster.local:8081/repository/maven-central/</url>
    </mirror>
    <mirror>
      <id>redhat-ga</id>
      <mirrorOf>redhat-ga</mirrorOf>
      <url>http://nexus-repository-manager.maven-repo.svc.cluster.local:8081/repository/redhat-ga/</url>
    </mirror>
  </mirrors>
</settings>

